body {
    height: 100%;
    width: 100%;
    color: black;
    font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #39c;
    font-weight: 500;
    text-decoration: none;
}

#wrapper {
    width: 700px;
    margin: 0 auto;
}

#header {
    width: 180px;
    float: left;
    position: fixed;
    text-align: left;
}

#header a {
    font-size: 16px;
    display: block;
}

#content {
    width: 500px;
    float: right;
    padding-bottom: 50px;
    padding-top: 8px;
}

#footer {
    width: 180px;
    float: left;
    position: fixed;
    bottom: 50px;
    font-size: 12px;
    text-align: left;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
